<h1>Exercises for Chapter 2

Using `data/parsed.csv` and the material from this chapter, complete the following exercises to practice your pandas skills

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/parsed.csv')
df.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...,California
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...,California
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...,California
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...,California
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...,California

In [3]:
df.shape

(9332, 27)

1. Find the 95th percentile of earthquake magnitude in Japan using the `mb` magnitude type

In [4]:
#creating a subset of Japan data with magtype mb
perc95 = df.loc[
    (df['parsed_place'] == 'Japan') & (df['magType'] == 'mb')
]

In [5]:
#calculating the 95th percentile of the mag column from the subset
perc95['mag'].quantile(0.95)

4.9

2. Find the percentage of earthquakes in Indonesia that were coupled with tsunamis

In [6]:
#creating a subset of Indonesia recoreds with a tsuanmi
indonesia = df.loc[
    (df['parsed_place'] == 'Indonesia')
]

In [7]:
# assuming 0 = no, 1 = yes
indonesia['tsunami'].value_counts()

0    113
1     34
Name: tsunami, dtype: int64

In [8]:
yes = indonesia['tsunami'].value_counts()[1]
no = indonesia['tsunami'].value_counts()[0]

#calculating percentage
result = round((yes / (yes + no)) * 100, 2)
print("Percentage of earthquakes in Indonesia coupled with tsunamis: ",result,"%")

Percentage of earthquakes in Indonesia coupled with tsunamis:  23.13 %

3. Calculate summary statistics for earthquakes in Nevada

In [9]:
#subset of Nevada data
NV = df.loc[
    df['parsed_place'] == 'Nevada'
]

#summary statistics for numerical data
NV.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

4. Add a column indicating whether the earthquake happened in a country or US state that is on the Ring of Fire (see page 111 for list of places)

Ring of Fire is where the Pacific Plate meets many surrounding tectonic plates. The Ring of Fire is the most seismically and volcanically active zone in the world according to (https://www.usgs.gov/faqs/what-ring-fire)

In [10]:
#ring of fire places
ROF = [
    'Alaska', 'Antarctica', 'Antarctic', 'Bolivia', 'California', 'Canada', 'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 
    'Guatemala', 'Indonesia', 'Japan', 'Kermadec Islands', 'Mexico', 'New Zeland', 'Peru', 'Philippines', 'Russia', 
    'Taiwan', 'Tonga', 'Washington'
    ]

In [11]:
#new column based on the place being in the ROF list 
df['ring_of_fire'] = np.where(df['parsed_place'].isin(ROF), True, False)

#reviewing results
df[['parsed_place', 'ring_of_fire']]

     parsed_place  ring_of_fire
0      California          True
1      California          True
2      California          True
3      California          True
4      California          True
...           ...           ...
9327   California          True
9328   California          True
9329  Puerto Rico         False
9330   California          True
9331   California          True

[9332 rows x 2 columns]

5. Calculate the number of earthquakes in the Ring of Fire locations and the number outside of them

In [12]:
print("Earthquakes in the Ring of Fire:", df['ring_of_fire'].value_counts()[0])

Earthquakes in the Ring of Fire: 7171

In [13]:
print("Earthquakes not in the Ring of Fire:", df['ring_of_fire'].value_counts()[1])

Earthquakes not in the Ring of Fire: 2161

6. Find the tsunami count along the Ring of Fire

In [14]:
tsu = len(df.loc[
    (df['ring_of_fire'] == True)
    & (df['tsunami'] == 1)
])

print("Tsunami count along the Ring of Fire: ", tsu)

Tsunami count along the Ring of Fire:  45